---
name: Tests

on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
    branches:
      - '**'
  pull_request:
    types: [ready_for_review, synchronize, opened]
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        php: [8.4]
        laravel: ['^11.0', '^12.0']
    name: PHP${{ matrix.php }} - Laravel${{ matrix.laravel }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, fileinfo, pdo_sqlite, iconv
          tools: composer:v2
          coverage: xdebug

      - name: Check Composer configuration
        run: composer validate --strict

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: dependencies-laravel-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-

      - name: Install dependencies from composer.json
        run: composer update --with='laravel/framework:${{ matrix.laravel }}' --no-interaction --no-progress

      - name: Check PSR-4 mapping
        run: composer dump-autoload --optimize --strict-psr --no-dev

      - name: Dump autoload
        run: composer dump-autoload --optimize

      - name: Execute tests
        run: composer test

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
